
body{
    display: grid;
    grid-template-areas:
    "cabeca cabeca cabeca"
    "braco corpo corpo"
    "perna perna perna";
    grid-template-rows: 200px auto 150px;
    grid-template-columns: 200px auto auto;
}

header{
    grid-area: cabeca;
    background-color: bisque;
}

aside{
    grid-area: braco;
    background-color: rgb(255, 196, 123);
}
main{
    grid-area: corpo;
    background-color: antiquewhite;
}

footer{
    grid-area: perna;
    background-color: bisque;
}

.mae{

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.card{
    background-color: whitesmoke;
    width: 400px;
    padding: 20px;
    text-align: center;
    border-radius: 15px;
    margin: 20px;
    transition: 0.3s ease;
}
.card:hover{
    transform: scale(1.1);
}
.img{
    width: 300px;
    height: auto;
}
.desc{
    font-size: 15px;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.preco{
    color: rgb(10, 139, 10);
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
}
.titulo{
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
}
.botao{
    text-decoration: none;
    background-color: antiquewhite;
    border-radius: 5px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 5px;
    transition: 0.3s;
}
.botao:hover{
    background-color: rgb(255, 218, 170);;
}
a{
  color: black;  
}
@media only screen and(max-width){
    body{
        grid-area: "cabeca"
                   "corpo"
                   "perna";
        grid-template-columns: auto;
        grid-template-rows: 150px 50px 500px 200px;
    }
}